.gallery {
  padding: 8px;
  padding-left: 0;
  overflow-x: auto; /* Garantir rolagem horizontal */
  height: fit-content;
  scroll-behavior: smooth;
}

.gallery ul{
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-right: 24px;
}

.gallery ul li{
  margin-left: 25px;
}

.gallery ul li:first-child{
  margin-left: 0px;
}

.gallery ul li a img{
  border:solid 4px white;
  border-radius: 16px;
}